<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.AdminMapper">

	<select id="checkAdminLogin" resultType="map">
		SELECT * FROM t_admin
		WHERE accountNumber = #{param1} AND password = #{param2}
	</select>

	<select id="checkPassword" resultType="int">
		SELECT COUNT(id) FROM
		t_admin
		WHERE id = #{param1} AND password = #{param2}
	</select>

	<update id="changePwd">
		UPDATE t_admin SET password = #{param2} WHERE id =
		#{param1}
	</update>

	<select id="homeData" resultType="map">
		SELECT th.*, tp.name FROM
		t_home_banner th
		LEFT JOIN t_product_info tp ON th.productId = tp.id
		WHERE
		status != 3
		ORDER BY sort
		LIMIT #{param1},
		#{param2}
	</select>

	<select id="homeDataCount" resultType="int">
		SELECT COUNT(id) FROM
		t_home_banner
		WHERE
		status != 3
	</select>

	<update id="homeBannerUpdateStatus">
		UPDATE t_home_banner SET status = 3 WHERE id =
		#{param1}
	</update>

	<select id="queryHomeBannerById" resultType="map">
		SELECT t1.*, t2.name
		FROM
		t_home_banner t1 LEFT JOIN t_product_info t2
		ON t1.productId =
		t2.id
		WHERE t1.id = #{param1}
	</select>

	<update id="homeBannerEdit">
		UPDATE t_home_banner SET productId = #{param2}, image
		=
		#{param3}, status = #{param4}, sort = #{param5}, lastUpdateTime =
		NOW() WHERE id =
		#{param1}
	</update>

	<select id="queryHomeBannerMaxSort" resultType="int">
		SELECT MAX(sort)
		+ 1 FROM t_home_banner
	</select>

	<insert id="homeBannerAdd">
		insert into t_home_banner (
		productId, image, status, sort, lastUpdateTime, addTime
		) values (
		#{param1}, #{param2}, #{param3}, #{param4}, NOW(), NOW()
		)
	</insert>

	<select id="homeRecommended" resultType="map">
		SELECT th.*, tp.name
		FROM
		t_home_recommended th
		LEFT JOIN t_product_info tp ON th.productId =
		tp.id
		WHERE
		status != 3
		ORDER BY sort
		LIMIT #{param1},
		#{param2}
	</select>

	<select id="homeRecommendedCount" resultType="int">
		SELECT COUNT(id)
		FROM
		t_home_recommended
		WHERE
		status != 3
	</select>

	<select id="queryHomeRecommendedMaxSort" resultType="int">
		SELECT
		MAX(sort) + 1 FROM t_home_recommended
	</select>

	<insert id="homeRecommendedAdd">
		insert into t_home_recommended (
		productId, status, sort, lastUpdateTime, addTime
		) values (
		#{param1}, #{param2}, #{param3}, NOW(), NOW()
		)
	</insert>

	<update id="homeRecommendedUpdateStatus">
		UPDATE t_home_recommended SET status = 3 WHERE id =
		#{param1}
	</update>

	<select id="queryHomeRecommendedById" resultType="map">
		SELECT t1.*,
		t2.name FROM
		t_home_recommended t1 LEFT JOIN t_product_info t2
		ON
		t1.productId = t2.id
		WHERE t1.id = #{param1}
	</select>

	<update id="homeRecommendedEdit">
		UPDATE t_home_recommended SET
		productId = #{param2}, status = #{param3},
		sort = #{param4}, lastUpdateTime = NOW() WHERE id = #{param1}
	</update>

	<select id="productType" resultType="map">
		SELECT * FROM
		t_product_type
		WHERE
		status != 3
		ORDER BY sort
		LIMIT #{param1},
		#{param2}
	</select>

	<select id="productTypeCount" resultType="int">
		SELECT COUNT(id) FROM
		t_product_type
		WHERE
		status != 3
		ORDER BY sort
	</select>

	<update id="productTypeUpdateStatus">
		UPDATE t_product_type SET status = 3 WHERE id =
		#{param1}
	</update>

	<insert id="productTypeAdd">
		insert into t_product_type (
		type, detils, status, sort, lastUpdateTime, addTime
		) values (
		#{param1}, #{param2}, #{param3}, #{param4}, NOW(), NOW()
		)
	</insert>

	<select id="queryProductTypeById" resultType="map">
		SELECT * FROM
		t_product_type WHERE id = #{param1}
	</select>

	<update id="productTypeAddEdit">
		UPDATE t_product_type SET type = #{param2}, detils =
		#{param3}, status = #{param4}, sort = #{param5} WHERE id =
		#{param1}
	</update>

	<select id="queryProductTypeMaxSort" resultType="int">
		SELECT
		MAX(sort) + 1 FROM t_product_type
	</select>

	<select id="productInfo" resultType="map">
		SELECT t1.*, t2.type, 
		(select COUNT(productId) from t_product_class where productId = t1.id ) classCount,
		(select COUNT(productId) from t_product_param where productId = t1.id ) paramCount,
		(select COUNT(productId) from t_product_imageText where productId = t1.id ) imageTextCount
		FROM t_product_info t1
		LEFT JOIN t_product_type t2 ON t1.typeId = t2.id
		WHERE delStatus = 0
		<if test='param3 != null and param3 != ""'>
			AND t1.name LIKE "%" #{param3} "%"
		</if>
		<if test='param4 != null and param4 != -1'>
			AND t1.typeId = #{param4}
		</if>
		<if test='param5 != null and param5 != -1'>
			AND t1.downShelves = #{param5}
		</if>
		ORDER BY t1.id DESC
		LIMIT #{param1}, #{param2} 
	</select>

	<select id="productInfoCount" resultType="int">
		SELECT COUNT(id) FROM t_product_info
		WHERE 1 = 1
		<if test='param1 != null and param1 != ""'>
			AND name LIKE "%" #{param1} "%"
		</if>
		<if test='param2 != null and param2 != -1'>
			AND typeId = #{param2}
		</if>
		<if test='param3 != null and param3 != -1'>
			AND downShelves = #{param3}
		</if>
	</select>

	<select id="productTypeList" resultType="map">
		SELECT id, type FROM t_product_type
	</select>
	
	<insert id="addProductInfo">
		INSERT INTO t_product_info(
			name, productImage, typeId, price,
			showPrice, expressFee, buyCount
		) VALUES (
			#{name}, #{productImage}, #{typeId}, #{price},
			#{showPrice}, #{expressFee}, #{buyCount}
		)
		<selectKey keyProperty="id" resultType="long">
      		SELECT LAST_INSERT_ID() AS id
      	</selectKey>
	</insert>
	
	<insert id="addProductImg" >
		INSERT INTO t_product_image(
			productId, image, addImageTime
		) VALUES (
			#{param1}, #{param2}, NOW()
		)
	</insert>
	
	<select id="queryProductInfoById" resultType="map">
		SELECT t1.*, t2.type FROM t_product_info t1
		LEFT JOIN t_product_type t2 ON t1.typeId = t2.id
		WHERE t1.id = #{param1}
	</select>
	
	<select id="queryProductImgById" resultType="map">
		SELECT image FROM t_product_image WHERE productId = #{param1}
	</select>
	
	<update id="editProductInfo">
		UPDATE t_product_info SET
		name = #{name}, productImage = #{productImage}, 
		typeId = #{typeId}, price = #{price},
		showPrice = #{showPrice}, 
		expressFee = #{expressFee}, 
		buyCount = #{buyCount}
		WHERE id = #{id}
	</update>
	
	<delete id="delProductImg">
		DELETE FROM t_product_image WHERE productId = #{param1}
	</delete>
	
	<update id="productInfoUpdateStatus">
		UPDATE t_product_info SET delStatus = 1 WHERE id = #{param1}
	</update>
	
	<select id="queryProductClassCountById" resultType="int">
		SELECT COUNT(id) FROM t_product_class WHERE productId = #{param1}
	</select>
	
	<select id="productClass" resultType="map">
		SELECT *, class className FROM t_product_class WHERE productId = #{param3} 
		ORDER BY id DESC
		LIMIT #{param1}, #{param2}
	</select>
	
	<select id="productClassCount" resultType="int">
		SELECT COUNT(id) FROM t_product_class WHERE productId = #{param1}
	</select>
	
	<insert id="addProductClass">
		INSERT INTO t_product_class (
			productId, class, productImage, price, count, addClassTime
		) VALUES (
			#{productId}, #{class}, #{productImage}, #{price}, #{count}, NOW()
		)
	</insert>
	
	<select id="queryProductClassById" resultType="map">
		SELECT *, class className FROM t_product_class WHERE id = #{param1}
	</select>
	
	<update id="editProductClass">
		UPDATE t_product_class
		SET class = #{class}, productImage = #{productImage}, price = #{price}, count = #{count}
		WHERE id = #{id}
	</update>

	<select id="productParam" resultType="map">
		SELECT * FROM t_product_param WHERE productId = #{param3} 
		LIMIT #{param1}, #{param2}
	</select>
	
	<select id="productParamCount" resultType="int">
		SELECT COUNT(id) FROM t_product_param WHERE productId = #{param1}
	</select>
	
	<insert id="productParamAdd">
		INSERT INTO t_product_param (
			productId, paramKey, detail, addParamTime
		) VALUES (
			#{productId}, #{paramKey}, #{detail}, NOW()
		)
	</insert>
	
	<select id="queryProductParamById" resultType="map">
		SELECT * FROM t_product_param WHERE id = #{param1}
	</select>
	
	<update id="productParamEdit">
		UPDATE t_product_param
		SET paramKey = #{paramKey}, detail = #{detail}
		WHERE id = #{id}
	</update>
	
	<delete id="productParamDel">
		DELETE FROM t_product_param WHERE id = #{param1}
	</delete>
	
	<select id="productImageText" resultType="map">
		SELECT * FROM t_product_imageText WHERE productId = #{param3} 
		LIMIT #{param1}, #{param2}
	</select>
	
	<select id="productImageTextCount" resultType="int">
		SELECT COUNT(id) FROM t_product_imageText WHERE productId = #{param1}
	</select>
	
	<insert id="productImageTextAdd">
		INSERT INTO t_product_imageText (
			productId, detail, image
		) VALUES (
			#{productId}, #{detail}, #{image}
		)
	</insert>
	
	<select id="queryProductImageTextById" resultType="map">
		SELECT * FROM t_product_imageText WHERE id = #{param1}
	</select>
	
	<update id="productImageTextEdit">
		UPDATE t_product_imageText
		SET detail = #{detail}, image = #{image}
		where id = #{id}
	</update>
	
	<delete id="productImageTextDel">
		DELETE FROM t_product_imageText WHERE id = #{param1}
	</delete>
	
	<update id="productUpDownShelves">
		UPDATE t_product_info
		SET downShelves = #{param2}
		where id = #{param1}
	</update>
	
</mapper>
