<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.AdminMapper">

	<select id="checkAdminLogin" resultType="map">
		SELECT * FROM t_admin
		WHERE accountNumber = #{param1} AND password = #{param2}
	</select>

	<select id="checkPassword" resultType="int">
		SELECT COUNT(id) FROM
		t_admin
		WHERE id = #{param1} AND password = #{param2}
	</select>

	<update id="changePwd">
		UPDATE t_admin SET password = #{param2} WHERE id =
		#{param1}
	</update>

	<select id="homeData" resultType="map">
		SELECT th.*, tp.name FROM
		t_home_data th
		LEFT JOIN t_product_info tp ON th.productId = tp.id
		WHERE
		status != 3 AND
		type = #{param3}
		ORDER BY sort
		LIMIT #{param1},
		#{param2}
	</select>

	<select id="homeDataCount" resultType="int">
		SELECT COUNT(id) FROM
		t_home_data
		WHERE
		status != 3 AND type = #{param1}
	</select>

	<update id="homeBannerUpdateStatus">
		UPDATE t_home_data SET status = 3 WHERE id =
		#{param1}
	</update>

	<select id="queryHomeBannerById" resultType="map">
		SELECT t1.*, t2.name FROM
		t_home_data t1 LEFT JOIN t_product_info t2
		ON t1.productId = t2.id 
		WHERE t1.id = #{param1}
	</select>

	<update id="homeBannerEdit">
		UPDATE t_home_data SET productId = #{param2}, image =
		#{param3}, status = #{param4}, sort = #{param5}, lastUpdateTime =
		NOW() WHERE id =
		#{param1}
	</update>

	<select id="queryHomeBannerMaxSort" resultType="int">
		SELECT MAX(sort) + 1 FROM t_home_data
	</select>
	
	<insert id="homeBannerAdd">
		insert into t_home_data (
			productId, image, status, sort, lastUpdateTime, addTime, type
		) values (
			#{param1}, #{param2}, #{param3}, #{param4}, NOW(), NOW(), #{param5}
		)
	</insert>


</mapper>