<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.ProductMapper">

	<select id="queryProductList" resultType="map">
		SELECT * FROM (
			SELECT t1.*, SUM(t2.salesVolume) salesVolume
			FROM t_product_info t1
			LEFT JOIN t_product_class t2 ON t1.id = t2.productId
			WHERE 1 = 1
			<if test='param3 != null and param3 != ""'>
				AND t1.name LIKE '%' #{param3} '%'
			</if>
			GROUP BY t2.productId
		) t WHERE 1 = 1
		AND downShelves != 1
		<if test='param6 != null and param6 != ""'>
			AND t.typeId = #{param6}
		</if>
		<if test='param4 != null and param4 != "" and param4 == "1"'>
			ORDER BY t.salesVolume DESC
		</if>
		<if test='param5 != null and param5 != "" and param5 == "1"'>
			ORDER BY t.price
		</if>
		<if test='param5 != null and param5 != "" and param5 == "2"'>
			ORDER BY t.price DESC
		</if>
		<if test='param4 == null or param4 == ""'>
			<if test='param5 == null or param5 == ""'>
				ORDER BY t.id DESC, t.salesVolume DESC , t.price DESC
			</if>
		</if>
		LIMIT #{param1}, #{param2}
	</select>

	<select id="queryProductListCount" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT COUNT(t1.id) FROM t_product_info t1 LEFT JOIN
			t_product_class t2 ON t1.id = t2.productId
			WHERE 1 = 1
			AND t1.downShelves != 1
			<if test='param1 != null and param1 != ""'>
				AND t1.name LIKE '%' #{param1} '%'
			</if>
			<if test='param2 != null and param2 != ""'>
				AND t1.typeId = #{param2}
			</if>
			GROUP BY t2.productId
		) t
	</select>

	<select id="queryProductType" resultType="map">
		SELECT * FROM t_product_type
	</select>

	<select id="queryProductDetailInfoById" resultType="map">
		SELECT t1.*, SUM(t2.salesVolume) salesVolume, (SUM(t2.count) - SUM(t2.freezeCount)) count
		FROM t_product_info t1
		LEFT JOIN t_product_class t2 ON t1.id = t2.productId
		WHERE t1.id = #{0}
	</select>

	<select id="queryProductDetailImagesById" resultType="map">
		SELECT * FROM t_product_image WHERE productId = #{0}
	</select>

	<select id="queryProductDetailClasssById" resultType="map">
		SELECT * FROM t_product_class WHERE productId = #{0}
	</select>

	<select id="queryProductDetailParamsById" resultType="map">
		SELECT * FROM t_product_param WHERE productId = #{0}
	</select>

	<select id="queryProductDetailImgTextById" resultType="map">
		SELECT * FROM t_product_imageText WHERE productId = #{0}
	</select>

	<select id="checkProductById" resultType="int">
		SELECT COUNT(id) FROM t_product_info WHERE id = #{0}
	</select>

	<insert id="addCollectionProduct">
		INSERT INTO t_product_collection (
			productId, openidMd5, addTime
		) VALUES (
			#{productId}, #{openidMd5}, NOW()
		)
	</insert>

	<select id="queryCollectionByProductId" resultType="int">
		SELECT COUNT(id) FROM t_product_collection WHERE productId = #{productId} AND openidMd5 = #{openidMd5}
	</select>

	<delete id="delCollectionByProductId">
		DELETE FROM t_product_collection WHERE productId = #{productId} AND openidMd5 = #{openidMd5}
	</delete>

	<select id="queryCollectionProductList" resultType="map">
		SELECT id, name, productImage, price FROM t_product_info WHERE id IN (
			SELECT productId FROM t_product_collection WHERE openidMd5 = #{param3}
		) LIMIT #{param1}, #{param2}
	</select>
	
	<select id="queryCollectionProductListCount" resultType="int">
		SELECT COUNT(productId) FROM t_product_collection WHERE openidMd5 = #{0}
	</select>

	<insert id="addShoppingCart">
		INSERT INTO t_product_shoppingCart (
			productId, openidMd5, productCount, productClassId, addTime
		) VALUES (
			#{productId}, #{openidMd5}, #{productCount}, #{productClassId}, NOW()
		)
	</insert>
	
	<select id="queryShoppingCartList" resultType="map">
		SELECT
		t1.id, t1.productCount, t1.productClassId, t1.productId, 
		t2.class, t2.price, t2.productImage, t2.count, t2.count, 
		t2.freezeCount,t3.expressFee, t3.name, t3.buyCount
		FROM
			t_product_shoppingCart t1
		LEFT JOIN t_product_class t2 ON t1.productId = t2.productId 
		LEFT JOIN t_product_info t3 ON t1.productId = t3.id 
		WHERE t2.id = t1.productClassId AND t1.openidMd5 = #{param3}
		ORDER BY t1.id DESC
		LIMIT #{param1}, #{param2}
	</select>
	
	<select id="queryShoppingCartListCount" resultType="int">
		SELECT
		COUNT(t1.id)
		FROM
			t_product_shoppingCart t1
		LEFT JOIN t_product_class t2 ON t1.productId = t2.productId 
		WHERE t2.id = t1.productClassId AND t1.openidMd5 = #{param1}
	</select>
	
	<delete id="delShoppingCartList">
		DELETE FROM t_product_shoppingCart WHERE openidMd5 = #{openidMd5} AND id IN 
		<foreach item="item" collection="array" separator="," open="(" close=")" index="">  
	      #{item}
	    </foreach>  
	</delete>
	
	<delete id="delShoppingCart">
		DELETE FROM t_product_shoppingCart WHERE openidMd5 = #{param2} AND productId = #{param1}
	</delete>
	
	<select id="queryOrderSettlementInfo" resultType="map">
		SELECT
			tpi.id, tpi.expressFee, tpi.name productName, tpc.id classId,
			tpc.productImage, tpc.class productClassName,
			tpc.price, tpc.count
		FROM
			t_product_info tpi
		LEFT JOIN t_product_class tpc ON tpi.id = tpc.productId
		WHERE tpi.id = #{param1} AND tpc.id = #{param2}
	</select>

	<insert id="addOrder">
		INSERT INTO t_product_order (
			orderNumber, orderCreateTime, openidMd5, productCount,
			expressFee, addressId, totalAmount, describes, userName,
			telNumber, address
		) VALUES (
			#{orderNumber}, #{orderCreateTime}, #{openidMd5}, #{productCount},
			#{expressFee}, #{addressId}, #{totalAmount}, #{describes}, #{userName},
			#{telNumber}, #{address}
		)
	</insert>

	<select id="queryOrderInfo" resultType="map">
		SELECT
			orderNumber,
			productCount,
			expressFee,
			totalAmount,
			describes,
			addressId,
			orderType,
			orderCreateTime,
			userName,
			telNumber,
			address
		FROM
			t_product_order
		WHERE
			orderNumber = #{param1}
	</select>
	
	<update id="updateOrderStatus">
		UPDATE t_product_order SET orderType = 3 WHERE orderNumber = #{param1}
	</update>
	
	<update id="delOrder">
		UPDATE t_product_order SET orderType = 4 WHERE orderNumber = #{param1}
	</update>
	
	<select id="queryAllOrder" resultType="map">
		SELECT
			*
		FROM
			t_product_order
		WHERE
			openidMd5 = #{param1}
		AND orderType != 4
		<if test="param4 != null">
			AND orderType = #{param4}
		</if>
		ORDER BY id DESC
		LIMIT #{param2}, #{param3}
	</select>
	
	<select id="queryAllOrderCount" resultType="int">
		SELECT
			COUNT(id)
		FROM
			t_product_order
		WHERE
			openidMd5 = #{param1}
		AND orderType != 4
		<if test="param2 != null">
			AND orderType = #{param2}
		</if>
	</select>
	
	<select id="queryProductDetailInfoByIdClassId" resultType="map">
		SELECT t1.name, t1.showPrice, t1.expressFee, 
		t2.class, t2.price, t2.count, t2.productImage,
		t2.freezeCount
		FROM t_product_info t1
		LEFT JOIN t_product_class t2 ON t1.id = t2.productId
		WHERE t1.id = #{param1} AND t2.id = #{param2}
	</select>
	
	<insert id="addOrderInfo">
		INSERT INTO t_product_orderInfo (
			orderNumber,
			productId,
			productName,
			productShowPrice,
			productCount,
			productClassName,
			productPrice,
			productImage,
			productClassId
		) VALUES (
			#{orderNumber},
			#{productId},
			#{productName},
			#{productShowPrice},
			#{productCount},
			#{productClassName},
			#{productPrice},
			#{productImage},
			#{productClassId}
		)
	</insert>
	
	<select id="queryOrderProductInfoByOrder" resultType="map">
		SELECT * FROM t_product_orderInfo WHERE orderNumber = #{param1}
	</select>
	
	<delete id="delShoppingCartById">
		DELETE FROM t_product_shoppingCart WHERE id = #{param1}
	</delete>
	
	<update id="updateProductFreezeCount">
		UPDATE t_product_class SET freezeCount = #{param2} WHERE id = #{param1}
	</update>
	
	<select id="queryAdminSelectProductList" resultType="map">
		SELECT * FROM t_product_info WHERE downShelves = 0
		<if test='param3 != null and param3 != ""'>
			AND name LIKE '%' #{param3} '%'
		</if>
		ORDER BY id DESC LIMIT #{param1}, #{param2}
	</select>
	
	<select id="queryAdminSelectProductListCount" resultType="int">
		SELECT COUNT(id) FROM t_product_info WHERE downShelves = 0
		<if test='_parameter != null and _parameter != ""'>
			AND name LIKE '%' #{_parameter} '%'
		</if>
	</select>
	
	<select id="queryHomeBanner" resultType="map">
		SELECT productId, image FROM t_home_banner WHERE status = 1 ORDER BY sort
	</select>
	
	<select id="queryHomeRecommended" resultType="map">
		SELECT t1.productId, t2.name productName FROM t_home_recommended t1 
		LEFT JOIN t_product_info t2 ON t1.productId = t2.id
		WHERE t1.status = 1 ORDER BY t1.sort
	</select>
	
	<select id="queryProductImageTop3" resultType="string">
		SELECT
			image
		FROM
			t_product_image
		WHERE
			productId = #{param1}
		LIMIT 0, 3
	</select>
	
</mapper>