<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.ProductMapper">

	<select id="queryProductList" resultType="map">
		SELECT * FROM t_product_info LIMIT #{param1}, #{param2}
	</select>
	
	<!-- 
		#SELECT t1.*,
		#SUM(t2.salesVolume) salesVolume FROM t_product_info t1 LEFT JOIN
		#t_product_class t2
		#ON t1.id = t2.productId LIMIT #{0}, #{1}
	 -->

	<select id="queryProductListCount" resultType="int">
		SELECT count(id) FROM t_product_info
	</select>

</mapper>