<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.ProductMapper">

	<select id="queryProductList" resultType="map">
		SELECT
		t1.*, SUM(t2.salesVolume) salesVolume
		FROM
		t_product_info t1
		LEFT JOIN t_product_class t2 ON t1.id = t2.productId
		WHERE 1 = 1
		<if test='param3 != null and param3 != ""'>
			AND t1.name LIKE '%' #{param3} '%'
		</if>
		
		GROUP BY t2.productId
		LIMIT #{param1}, #{param2}
	</select>

	<select id="queryProductListCount" resultType="int">
		SELECT
		COUNT(t1.id) FROM t_product_info t1 LEFT JOIN
		t_product_class t2 ON
		t1.id = t2.productId
	</select>

</mapper>