<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.shop.mapper.ReceivingAddressMapper">

	<select id="queryUserInfoByOpenid" resultType="long">
		SELECT COUNT(id) count FROM t_receivingAddress WHERE userId = #{0} AND status = 1
	</select>

	<insert id="addReceivingAddress" parameterType="com.wechat.shop.entity.ReceivingAddress">
		INSERT INTO t_receivingAddress (
			userId, userName, telNumber, postalCode, provinceName, cityName,
			countyName, detailInfo, nationalCode, status, addAddressTime
		) VALUES (
			#{userId}, #{userName}, #{telNumber}, #{postalCode}, #{provinceName}, #{cityName},
			#{countyName}, #{detailInfo}, #{nationalCode}, #{status}, #{addAddressTime}
		)
	</insert>

	<select id="queryReceivingAddressListById" resultType="com.wechat.shop.entity.ReceivingAddress">
		SELECT id, userName, telNumber, postalCode, provinceName, cityName,
		countyName, detailInfo, nationalCode, status FROM t_receivingAddress
		WHERE userId = #{0}
	</select>
		
	<update id="setAddressStatusByStatus">
		UPDATE t_receivingAddress SET status = 0 WHERE userId = #{userId} AND status = 1;
	</update>
	
	<update id="setAddressStatusById">
		UPDATE t_receivingAddress SET status = 1 WHERE userId = #{userId} AND id = #{id};
	</update>
	
	<delete id="delAddressStatusById">
		DELETE FROM t_receivingAddress WHERE userId = #{userId} AND id = #{id};
	</delete>
	
	<update id="setAddressStatusDefaultById">
		UPDATE t_receivingAddress t1, (
			SELECT id FROM t_receivingAddress WHERE userId = #{userId} ORDER BY addAddressTime LIMIT 0, 1
		) t2 SET status = 1 WHERE t1.id = t2.id
	</update>

</mapper>